* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
    background-color: #292929;
    color: white;
    flex-grow: 5;
}
#name {
     
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-content: center;
    padding-left: 40px;
}

.divcontainer {
    flex-direction: row;
    flex-grow: 6;
    display: flex;
    min-height: 80px;
    background-color: #292929;
    color: white;
    justify-content: flex-end;
}

.menu {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    padding: 10px;
    
}

.valkommen {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 2em; 
    letter-spacing: 2px;
    color: #947f7fa6;
    margin-left: 100px;
    margin-right: 60px; 
    flex-grow: 6;
    
}

#container {
    display: flex;
    flex-direction: row;
}


.paragraf {
    width: 65%;
    height: 80%;
    padding: 60px;
}
.presentation {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px; 
    letter-spacing: 2px;
    color: black;
}

.photo {
    width: 60%;
    height: auto;
    max-height: 30em;
    object-fit: cover;
    margin-top: 25%;
    margin-right: 50px;
    border-radius: 5px;
    flex-wrap: nowrap;
    box-shadow: 11px 6px 5px black;
}

.positionimg {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    justify-self: flex-end;
    margin-right: 5%;
}

.secondcontainer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #947f7fa1;
    margin: 60px; 
}

.personligt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: lowercase;
    margin: 50px; 
    letter-spacing: 2px;
    color: black;

}

.karriar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: lowercase;
    margin: 50px; 
    letter-spacing: 2px;
    color: black;
    
}

.kunskap {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: lowercase;
    margin-left: 100px; 
    letter-spacing: 2px;
    color: black;

}

.container {
    width: 100%;
    height: 50px;
    background-color: white;
}

.portfolj {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: lowercase;
    margin-top: 5%;
    margin-left: 100px; 
    letter-spacing: 2px;
    color: black;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(236, 211, 211);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: white;
  }
  
  input[type=submit] {
    background-color: #aa8c04;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #aa8c04;
  }
  
  .formular {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    margin: 50px;
  }


.footer {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: #292929;
    color: white;
    flex-grow: 5;
    align-items: center;
    justify-items: center;
    justify-content: center;

}


.icon {
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px; 
    border-radius: 40px; 
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white; 
    border-radius: 40px; 
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white; 
    border-radius: 40px; 
  } 
  .fa-linkedin {  
    background: #007bb5;  
    color: white;
    border-radius: 40px;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
    border-radius: 40px;
  } 

  .job {
    width: 80%;
    max-height: 20em;
    object-fit: cover;
    margin-top: 45%;
    margin-right: 50px;
    border-radius: 80px;
    flex-wrap: nowrap;
    box-shadow: 8px 3px 5px rgb(197 176 176)
  }

@media  screen and (max-width: 1080) {
    .footer {
        width: 100%;
        height: auto;
    }
    .icon {
        width: 100%;
        height: auto;
    }
    #name {
        object-fit: contain;
        width: auto;
    }
    header {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 630px) {

    .divcontainer {
        display: flex;
        width: auto; 
        flex-wrap: wrap;
        
    }

    #name {
        display: none; 
        height: 0;
        margin-left: 0px;
        flex-basis: 0%;
    }
    .menu {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    margin-top: 5px;

    
    }
    
    .photo {
        width: 120px;
        position: static;
        margin-top: 100px;
        margin-right: 60px;
        padding: 0; 
    }
    .paragraf {
        padding: 10px;
    }

    .presentation {
        margin: 15px; 
        padding: 10px;
    }
    .main {
        padding: 0; 
    }
    .div {
        margin: 0; 
    }
    .divcontainer {
        padding-left: 0; 
    }
    .valkommen {
        width: 100%;
        margin: 15px; 
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 10px; 
    }
    .personligt {
        margin: 10px; 
        padding: 0; 
    }
    .karriar {
        margin: 0;
        padding: 10px; 
    }
    .kunskap {
        margin: 15px; 
        padding: 10px;
    }

    .footer .icon {
        width: auto;
        justify-content: flex-end;
    }

 }

 